#main{
  min-height: 100vh;
  background-image: url('../imgs/sfondoesercizio4.png');
  
  }
  #main label{
color: white;
  }
 #main a{
    color: rgb(151, 59, 193);
  }


.btn-primary i{
  color:white;
}