@import "index.css";

#topSaldo{
  background-image: url('../../assets/imgs/prova_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
  .card-header{
  opacity: 1 !important;
}

i{
  color: #209dd8;
  height: 30px;
  width: 30px;
}
}






  

